<mat-toolbar color="primary">
    <button mat-icon-button class="nav-icon" aria-label="nav icon-button with menu icon"
       (click)="drawer.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Learning Angular Material with Theming</span>
    <span class="nav-spacer"></span>
  
    <button mat-icon-button class="nav-icon" aria-label="nav icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
    <p class="theme-toggle">
      <mat-icon>light_mode</mat-icon>
      <mat-slide-toggle (change)="onThemeChange($event)"></mat-slide-toggle>
      <mat-icon>dark_mode</mat-icon>
    </p>
  </mat-toolbar>
  <mat-drawer-container class="nav-container" >
    <mat-drawer #drawer class="nav-sidenav" mode="side">  
      <mat-list role="list">
        <mat-list-item routerLink="dashboard" routerLinkActive="true">Dashboard</mat-list-item>        
        <mat-divider></mat-divider>
        <mat-list-item routerLink="vehicle" routerLinkActive="true">Vehicle</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="address-form" >Profile</mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-drawer>
  
    <div class="nav-content" (click)="drawer.close()" ><router-outlet></router-outlet></div>
  
  </mat-drawer-container>
